article {
  margin-bottom: 10px;
  padding-bottom: 2px;
  border-bottom: 1px dotted #686868
}

article header {
  margin-bottom: 0.5em;
}

article header h1 {
  font-weight: bold;
  font-size: 150%;
  margin-bottom: 0.4em;
}

article header h2 {
  font-size: 90%;
  color: #686868;
}

article header a {
  text-decoration: none;
  color: inherit;
}

article header a:hover {
  text-decoration: underline;
}
