.sponsor-video {
  background-color: grey;
  height: 200px;
  margin-bottom: 2em;
}

.sponsor-logos {
  background-color: grey;
  height: 60px;
}

article .main address {
  margin-bottom: 1em;
  background-color: #d0ffd0;
  display: inline-block;
  padding: 0.5em;
}

article .main address p {
  margin-bottom: 0.1em;
}

body>header>h1>a>span>img {
  width: 36px;
  height: 36px;
}

body>footer>ul>li>a>img {
  width: 45px;
  height: 37px;
}

img {
  width: 250px;
  height: 100px;
}